 <div class="col-md-2  top">

      <br />
      <br />
      <button type="submit" class="btn btn-succes">[Edit Movie Categories]</button>
      <br />
      <br />
      <button type="button" class="btn btn-primary">[Edit View By Genre]</button>
      <br />
      <br />
      <button type="button" class="btn btn-primary">[Edit View By Genre]</button>
      <br />
      <br />
      <button type="button" class="btn btn-primary">[Edit View By Genre] </button>
      <br />
      <br />
      <button type="button" class="btn btn-primary">[Edit View By Genre] </button>
      <br />
      <br />
      <button type="button" class="btn btn-primary">[Edit View By Genre] </button>
      <br />
      <br />
      <button type="button" class="btn btn-primary">[Edit View By Genre] </button>
      <br />
      <br />
      <button type="button" class="btn btn-primary">[Edit View By Genre] </button>
      <br />
      <br />
      <button type="button" class="btn btn-primary">[Edit View By Genre] </button>
      <br />
      <br />
      <button type="button" class="btn btn-primary">[Edit View By Genre] </button>
      <br />
      <br />
      <button type="button" class="btn btn-primary">[Edit View By Genre] </button>


    </div>
